.screen_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  gap: 2rem;
  margin-top: 2.5rem;
}

.product-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.product-header p {
  color: #555;
  margin-top: 0.5rem;
}

.contact_container {
  background-color: black;
  width: 900px;
  height: 500px;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  color: var(--primary-color-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_container h2 {
  font-size: 2rem;
}

.contact_container div#form {
  gap: 1rem;
}
