.z-order {

}

.z-order-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 24px;
    border-radius: 8px;
}

.status {
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  background: #d4edda;
  color: #155724;
  height: 32px;
  text-align: center;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.approved {
  background: #d4edda;
  color: #155724;
}

.status.cancelled {
  background: #f8d7da;
  color: #721c24;
}

.status.solited_cancellation {
  background: #e99d04;
  color: #3b341f;

}