.container_splitter_home {
    height: 100%;
    z-index: 1;
    position: relative;
    /* garante que elementos absolutos fiquem dentro */
    overflow: hidden;
    /* impede que .container_logo ultrapasse */
}

.container_logo {
    z-index: 200;
    height: 100%;
    width: 99%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container_logo h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'Inter Medium', serif;
    font-weight: 500;

    @media (max-width: 600px) {
        font-size: 28px;
    }
}

.container_logo button {
    z-index: 250;
    margin-top: 16px;
    padding: 12px 64px;
    font-size: 16px;
    color: #fff;
    background-color: #F07724;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Inter Medium', serif;
    font-weight: 500;
}

.p-splitter .p-splitter-gutter {
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background-image: url('../../../assets/img/Union.png');
    z-index: 200;
    /* caminho da imagem */
    background-size: cover;
    /* ou 'contain', conforme necessário */
    background-repeat: no-repeat;
    background-position: center;

}

.p-splitter-gutter-handle::after {
    content: '';
    background-image: url('../../../assets/img/Union.png');
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateX(2px);  
    /* cola no topo */
    /* left: -64px; */
    /* ajusta conforme necessário */
    width: 128px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    /* @media (min-width: 1200px) {
        width: 128px;
    } */

     /* @media (min-width: 600px) {
        width: 200px;
    } */
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
    background: #dee2e6;
}