.container_about {
    background-color: #F07724;
    min-height: 1200px;
}

.container_verde {
    width: 100%;
    height: 100%; /* Define a altura mínima */
    /* Ou defina uma altura fixa, tipo 600px */
    background-image: url('../../../assets/img/verde_home.png');
    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-repeat: no-repeat;
    /* Não repete a imagem */
    background-position: center;
    /* Centraliza a imagem */
    position: relative;
}

.container_about h1 {
    font-family: 'hitv-demo', sans-serif;
    font-size: 64px;
    font-weight: 700;
}