.p-button {
    color: var(--primary-color-text);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 32px;
    padding-block:0.5rem;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.p-button:not(:disabled):hover {
    background: var(--hover-primary-color);
    color: var(--primary-color-text);
    border-color: var(--hover-primary-color);
}

.p-button:not(:disabled):active {
    background: var(--hover-primary-color);
    color: var(--primary-color-text);
    border-color: var(--hover-primary-color);
}

.p-button.p-button-outlined {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid;
}

.p-button.p-button-outlined:not(:disabled):hover {
    background: rgba(33, 150, 243, 0.04);
    color: var(--primary-color);
    border: 1px solid;
}

.p-button.p-button-outlined:not(:disabled):active {
    background: rgba(33, 150, 243, 0.16);
    color: var(--primary-color);
    border: 1px solid;
}

.p-button.p-button-outlined.p-button-plain {
    color: #6c757d;
    border-color: #6c757d;
}

.p-button.p-button-outlined.p-button-plain:not(:disabled):hover {
    background: #e9ecef;
    color: #6c757d;
}

.p-button.p-button-outlined.p-button-plain:not(:disabled):active {
    background: #dee2e6;
    color: #6c757d;
}

.p-button.p-button-text {
    background-color: transparent;
    color: var(--primary-color);
    border-color: transparent;
}

.p-button.p-button-text:not(:disabled):hover {
    background: rgba(33, 150, 243, 0.04);
    color: var(--primary-color);
    border-color: transparent;
}

.p-button.p-button-text:not(:disabled):active {
    background: rgba(33, 150, 243, 0.16);
    color: var(--primary-color);
    border-color: transparent;
}

.p-button.p-button-text.p-button-plain {
    color: #6c757d;
}

.p-button.p-button-text.p-button-plain:not(:disabled):hover {
    background: #e9ecef;
    color: #6c757d;
}

.p-button.p-button-text.p-button-plain:not(:disabled):active {
    background: #dee2e6;
    color: #6c757d;
}

.p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-button .p-button-label {
    transition-duration: 0.2s;
}

.p-button .p-button-icon-left {
    margin-right: 0.5rem;
}

.p-button .p-button-icon-right {
    margin-left: 0.5rem;
}

.p-button .p-button-icon-bottom {
    margin-top: 0.5rem;
}

.p-button .p-button-icon-top {
    margin-bottom: 0.5rem;
}

.p-button .p-badge {
    margin-left: 0.5rem;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: var(--primary-color);
    background-color: #ffffff;
}

.p-button.p-button-secondary, .p-button-group.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button, .p-fileupload-choose.p-button-secondary {
    color: #ffffff;
    background: #607d8b;
    border: 1px solid #607d8b;
  }
  .p-button.p-button-secondary:not(:disabled):hover, .p-button-group.p-button-secondary > .p-button:not(:disabled):hover, .p-splitbutton.p-button-secondary > .p-button:not(:disabled):hover, .p-fileupload-choose.p-button-secondary:not(:disabled):hover {
    background: #56717d;
    color: #ffffff;
    border-color: #56717d;
  }
  .p-button.p-button-secondary:not(:disabled):focus, .p-button-group.p-button-secondary > .p-button:not(:disabled):focus, .p-splitbutton.p-button-secondary > .p-button:not(:disabled):focus, .p-fileupload-choose.p-button-secondary:not(:disabled):focus {
    box-shadow: 0 0 0 0.2rem #beccd2;
  }
  .p-button.p-button-secondary:not(:disabled):active, .p-button-group.p-button-secondary > .p-button:not(:disabled):active, .p-splitbutton.p-button-secondary > .p-button:not(:disabled):active, .p-fileupload-choose.p-button-secondary:not(:disabled):active {
    background: #4d646f;
    color: #ffffff;
    border-color: #4d646f;
  }
  .p-button.p-button-secondary.p-button-outlined, .p-button-group.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined, .p-fileupload-choose.p-button-secondary.p-button-outlined {
    background-color: transparent;
    color: #607d8b;
    border: 1px solid;
  }
  .p-button.p-button-secondary.p-button-outlined:not(:disabled):hover, .p-button-group.p-button-secondary > .p-button.p-button-outlined:not(:disabled):hover, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:not(:disabled):hover, .p-fileupload-choose.p-button-secondary.p-button-outlined:not(:disabled):hover {
    background: rgba(96, 125, 139, 0.04);
    color: #607d8b;
    border: 1px solid;
  }
  .p-button.p-button-secondary.p-button-outlined:not(:disabled):active, .p-button-group.p-button-secondary > .p-button.p-button-outlined:not(:disabled):active, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:not(:disabled):active, .p-fileupload-choose.p-button-secondary.p-button-outlined:not(:disabled):active {
    background: rgba(96, 125, 139, 0.16);
    color: #607d8b;
    border: 1px solid;
  }
  .p-button.p-button-secondary.p-button-text, .p-button-group.p-button-secondary > .p-button.p-button-text, .p-splitbutton.p-button-secondary > .p-button.p-button-text, .p-fileupload-choose.p-button-secondary.p-button-text {
    background-color: transparent;
    color: #607d8b;
    border-color: transparent;
  }
  .p-button.p-button-secondary.p-button-text:not(:disabled):hover, .p-button-group.p-button-secondary > .p-button.p-button-text:not(:disabled):hover, .p-splitbutton.p-button-secondary > .p-button.p-button-text:not(:disabled):hover, .p-fileupload-choose.p-button-secondary.p-button-text:not(:disabled):hover {
    background: rgba(96, 125, 139, 0.04);
    border-color: transparent;
    color: #607d8b;
  }
  .p-button.p-button-secondary.p-button-text:not(:disabled):active, .p-button-group.p-button-secondary > .p-button.p-button-text:not(:disabled):active, .p-splitbutton.p-button-secondary > .p-button.p-button-text:not(:disabled):active, .p-fileupload-choose.p-button-secondary.p-button-text:not(:disabled):active {
    background: rgba(96, 125, 139, 0.16);
    border-color: transparent;
    color: #607d8b;
  }