.container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
}