.container {
  height: 100%;
  width: 100%;

}


.text-login p {
  color: #94a3b8;
  font-weight: 700;
  font-size: 18px;
  @media (max-width: 600px) {
        font-size: 10px;
    }
 }
 
 
 .text-login a {
   color: var(--primary-color);
   font-size: 14px;
    font-weight: 700;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 12px;
    }
 }

 .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  width: 50%;
 }

 .p-tabmenu-nav a {
  justify-content: center;
 }