.card_address {
    padding: 16px;
}

.card_address h3 {
    color: var(--color-secondary);
}

.card_address p {
    font-size: 10px;
    color: var(--text-color);
}

.text-button {
    text-decoration: underline;
    cursor: pointer;
}

.text-button-default {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-secondary);
}