.card_total {
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--background);
}

.card_total h4 {
    color: rgb(130, 130, 130);
    font-size: 14px;
}

.card_total h3 {

}
.card_list_item {
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
}