.video-section {
  position: relative;  /* agora participa do fluxo */
  z-index: 10;         /* fica por cima dos irmãos */
  /* margin-top: -100px;  puxa o vídeo pra cima, sobre o About */
  margin-bottom: -60vh; 
  /* faz ele entrar também no Impact */
}

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  background-color: #434343;
  cursor: pointer;
}