.order-card {
  width: 100%;
  max-width: 90%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.order-header h2 {
  margin: 0;
  font-size: 20px;
}

.status {
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  background: #d4edda;
  color: #155724;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.approved {
  background: #d4edda;
  color: #155724;
}

.status.canceled {
  background: #f8d7da;
  color: #721c24;
}

.status.solited_cancellation {
  background: #e99d04;
  color: #3b341f;

}

.order-section {
  margin-bottom: 15px;
}

.order-section h3 {
  font-size: 16px;
  margin-bottom: 5px;
  border-left: 4px solid var(--primary-color);
  padding-left: 8px;
}

.order-section p {
  margin: 3px 0;
}

.order-section ul {
  list-style: none;
  padding: 0;
}

.order-section li {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.item-info {
  flex: 2;
}

.item-details {
  flex: 1;
  text-align: right;
}

.order-footer {
  border-top: 2px solid #eee;
  padding-top: 10px;
  font-weight: bold;
}

.button-accept {
  background-color: red
}